:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f0f0;
}

#root {
  width: 100%;
  margin: 0 auto;
}